---
import { Sprite } from 'astro-icon';
import Body from '~/layouts/Default.astro';
import FactMachine from '~/ui/Home/FactMachine.astro';
import Link from '~/ui/Link.astro';
const title = 'Hello Nice World';
const writings = await Astro.glob('./writings/**/*.mdx');
---

<Body title={title} description="Description" class="mt-16 w-full">
	<h1
		class="max-w-6xl xl:text-8xl lg:text-7xl md:text-6xl sm:text-5xl text-4xl font-black text-slate-900 mb-8"
	>
		Welcome to a expressive, portal to share my views, learnings and reflect myself to you.🙂
	</h1>
	<h2
		class="max-w-6xl w-full font-code font-bold xl:text-5xl lg:text-4xl md:text-3xl sm:text-2xl text-xl text-slate-600 mb-14"
	>
		Aside from sharing and caring for others, I built software that help to solve real life problems
		for others, Currently working at <Link
			bg="bg-blue-500"
			href="https://www.bhuman.ai/"
			underlineBg="bg-blue-500"
			class="inline-block text-blue-500 hover:text-white delay-75 transition-colors"
		>
			XYZ
		</Link> as a Front-end Engineer.
	</h2>
	<FactMachine />
	<!-- <div class="shadow-sm p-3">
        <div style="background-image: url(https://avatars.githubusercontent.com/u/10172199?v=4);" class="bg-no-repeat bg-cover w-16 h-16 rounded-full"></div>
        <div class="font-semibold">
            <h1 class="text-4xl">Jeff Delaney</h1>
            <h2 class="text-lg"> Creator of @fireship-io </h2>
        </div>
    </div> -->
	<h2 class="xl:text-7xl lg:text-6xl md:text-5xl sm:text-4xl text-3xl font-black mt-32 mb-10">
		Writings
	</h2>
	<div class="flex flex-wrap children:h-44 children:min-w-[324px] gap-4">
		{
			writings.map(({ frontmatter: { title, description, publishedOn, image, cls }, url }) => {
				const filePathArr: string[] = url.split('/');
				const fileName = filePathArr[filePathArr.length - 1];
				return (
                    // https://play.tailwindcss.com/vui5oS9q4P
					<article class={`${cls} @container row flex relative bg-slate-300 overflow-hidden flex-col rounded-lg bg-gradient-to-br from-violet-400 to-purple-600 p-4`}>
						<dl>
							<dt class="sr-only">Published On</dt>
							<dd class="text-shadow font-medium text-purple-900 @xl:text-3xl @md:text-2xl @lg:text-xl @xs:text-lg">
								<time datetime={new Date(publishedOn).toISOString()}>
									{publishedOn.split(' ')[1]},{publishedOn.split(' ')[3]}
								</time>
							</dd>
						</dl>
						<div class="flex h-full flex-col">
							<h1 class={`@xl:text-5xl @md:text-4xl @lg:text-3xl @xs:text-2xl text-xl text-white font-semibold`}>{title}</h1>
							<p class={`text-shadow @xl:text-2xl @md:text-xl @lg:text-lg @xs:text-base text-sm text-purple-200`}>{description}</p>
						</div>
						<div
							class="absolute left-0 right-0 bottom-[2.32rem] h-4 pointer-events-none select-none  opacity-95 blur-sm backdrop-blur-sm bg-[linear-gradient(to_top,theme(colors.purple.500)_25%,transparent)] after:content-[''] after:absolute after:inset-0 after:bg-[linear-gradient(to_top,theme(colors.purple.500),transparent)]"
							aria-hidden="true"
						/>
						<footer class="absolute bottom-0 left-0 h-10 bg-black/10 border-t-2 flex items-center pl-2 rounded-b-lg w-full backdrop-blur-sm">
							<a
								href={url}
								class="cursor-pointer rounded-md leading-4 text-white px-1 @xl:text-2xl @md:text-xl @lg:text-lg @xs:text-base text-sm font-bold transition-colors"
							>
								Read more →
							</a>
						</footer>
					</article>
				);
			})
		}
	</div>
    <!-- <script>
        import "https://unpkg.com/@appnest/masonry-layout?module";
    </script> -->
</Body>
