---
import Body from "./Default.astro"

const {frontmatter} = Astro.props;
const tags = frontmatter?.tags || [];
console.log(tags)
---

<Body title={frontmatter.title} description={frontmatter.description} date={frontmatter.publishedOn} isArticle={true} class="grid grid-cols-12">
    <aside class="h-96 bg-slate-400"></aside>
    <article class=" col-start-2 col-end-11 prose">
        <slot/>
    </article>
    <aside class="bg-slate-400 h-96 w-full">a</aside>
</Body>
